---
import Hero from "../components/Hero.astro";
import MissionStatement from "../components/MissionStatement.astro";
import Marquee from "../components/Marquee.astro";
import Navbar from "../components/Navigation/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Ecwid from "../components/Ecwid.astro";
import Features from "../components/Features.astro";
import BupVideo from "../components/BupVideo.astro";
import Pricing from "../components/Pricing";
---

<Layout title="Welcome to Astro.">
	<main>
		<!-- <Navbar /> -->
		<Navbar />
		<Hero />
		<MissionStatement />
		<Marquee />

		<!-- Discovered that flickering didn't start until Ecwid Script was implemented. -->
		<section id="products" class="max-w-section mx-auto pt-[120px]">
			<div class="text-center font-medium flex flex-col gap-y-3">
				<h2
					class="text-section-h2 text-transparent bg-clip-text bg-gradient-to-br from-[#13bc6a] to-[#1a9dd0]"
				>
					Purchasing our BŪP Smart Devices <br class="" />is as easy
					as 1-2-3!
				</h2>
				<ol class="flex flex-col gap-y-2 list-decimal">
					<li>Build your BŪP Bio Card.</li>
					<li>Order your BŪP Smart Device.</li>
					<li>Start Networking!</li>
				</ol>
			</div>
			<Ecwid />
		</section>
		<BupVideo />
		<Features />
		<Pricing client:load />
		<!-- <FAQ client:load /> -->
	</main>
</Layout>
