---
import Hero from "../components/Hero.astro";
import MissionStatement from "../components/MissionStatement.astro";
import Navbar from "../components/Navigation/Navbar.astro";
import TestingNav from "../components/Navigation/TestingNav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<!-- <Navbar /> -->
		<TestingNav />
		<Hero />
		<MissionStatement />
	</main>
</Layout>
