<section
    class="max-w-section w-[98%] mx-auto flex flex-col items-center gap-y-8 pt-[200px]"
>
    <h2
        class="text-section-h2 text-transparent bg-clip-text bg-gradient-to-br from-[#13bc6a] to-[#1a9dd0] font-quicksand leading-snug text-center font-medium"
    >
        How to Use Your <br /> BŪP Smart Device
    </h2>

    <div class="iframe-container max-w-3xl w-full">
        <iframe
            class="bup-video aspect-video w-full rounded-lg shadow-lg dark:shadow-none"
            src="https://www.youtube.com/embed/yzbZ0Y61Y0w"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</section>
