---
// import { Image } from "@astrojs/image/components";
---

<section
    id="features"
    class="max-w-section w-full mx-auto tracking-wide pt-[120px]"
>
    <h2
        class="text-transparent bg-clip-text bg-gradient-to-br from-[#13bc6a] to-[#1a9dd0] font-quicksand text-gradient text-section-h2 text-center font-medium mx-5"
    >
        Check Out our Features
    </h2>

    <article
        class="my-8 max-w-sm w-11/12 md:max-w-[800px] mx-auto rounded-2xl py-8 px-4"
    >
        <div
            class="article-content flex flex-col-reverse md:flex-row items-center gap-y-7 gap-x-4"
        >
            <div class="flex flex-col gap-y-4">
                <h3
                    class="text-2xl md:text-3xl leading-normal tracking-wide font-quicksand font-medium text-center md:text-left"
                >
                    Get creative <br /> with your links!
                </h3>
                <p
                    class="font-nunito text-base leading-relaxed tracking-wide text-center md:text-left"
                >
                    Bring your links to life using our fun editing tools, block
                    options, fonts, colors and content feeds! Then, make them
                    pop with your favorite custom images.{" "}
                </p>
            </div>

            <img
                src="../assets/featureImages/bup.png"
                alt="bup"
                class="w-1/2 md:w-full object-cover"
            />
        </div>
    </article>

    <div
        class="hidden md:block h-5 bg-gradient-to-br from-[#13bc6a] to-[#1a9dd0] w-full my-20 skew-y-12"
    >
    </div>

    <!-- Feature Two -->
    <article
        class="my-8 max-w-sm w-11/12 md:max-w-[800px] mx-auto rounded-2xl py-8 px-4"
    >
        <div
            class="article-content flex flex-col md:flex-row items-center gap-y-7 gap-x-8"
        >
            <img
                src="../assets/featureImages/bup-streamy-g.png"
                alt="bup"
                class="w-1/2 md:w-full object-cover"
            />
            <div class="flex flex-col gap-y-4">
                <h3
                    class="text-2xl md:text-3xl leading-normal tracking-wide font-quicksand font-medium text-center md:text-left"
                >
                    B的P's tools <br /> make links easy!
                </h3>
                <p
                    class="font-nunito text-base leading-relaxed tracking-wide text-center md:text-left"
                >
                    Using our analytics tools, you can keep an eye on audience
                    metrics and page performance. Our shortlink generator makes
                    life easier for your audience by keeping your links simple!
                </p>
            </div>
        </div>
    </article>

    <div
        class="hidden md:block h-5 bg-gradient-to-br from-[#13bc6a] to-[#1a9dd0] w-full my-20 -skew-y-12"
    >
    </div>

    <!-- Feature Three -->
    <article
        class="my-8 max-w-sm w-11/12 md:max-w-[800px] mx-auto rounded-2xl py-8 px-4"
    >
        <div
            class="article-content flex flex-col-reverse md:flex-row items-center gap-y-7 gap-x-4"
        >
            <div class="flex flex-col gap-y-4">
                <h3
                    class="text-2xl md:text-3xl leading-normal tracking-wide font-quicksand font-medium text-center md:text-left"
                >
                    Create multiple cards & <br /> manage all of your links.
                </h3>
                <p
                    class="font-nunito text-base leading-relaxed tracking-wide text-center md:text-left"
                >
                    Create multiple cards for your most important links and
                    favorite things while managing it all from a single
                    dashboard.
                </p>
            </div>

            <img
                src="../assets/featureImages/keyp.png"
                alt="bup"
                class="w-1/2 md:w-full object-cover"
            />
        </div>
    </article>

    <div
        class="hidden md:block h-5 bg-gradient-to-br from-[#13bc6a] to-[#1a9dd0] w-full my-20 skew-y-12"
    >
    </div>
    <!-- Feature Four -->
    <article
        class="my-8 max-w-sm w-11/12 md:max-w-[800px] mx-auto rounded-2xl py-8 px-4"
    >
        <div
            class="article-content flex flex-col md:flex-row items-center gap-y-7 gap-x-8"
        >
            <img
                src="../assets/featureImages/bup-three-little-pugs.png"
                alt="bup"
                class="w-1/2 md:w-full object-cover"
            />
            <div class="flex flex-col gap-y-4">
                <h3
                    class="text-2xl md:text-3xl leading-normal tracking-wide font-quicksand font-medium text-center md:text-left"
                >
                    Show off your card <br /> with the tap of a B的P!
                </h3>
                <p
                    class="font-nunito text-base leading-relaxed tracking-wide text-center md:text-left"
                >
                    Keep all of your links ready for the world to see with B的P.
                    Using our Smart Devices, a single tap from a phone can show
                    off your B的P card to anyone, instantly.
                </p>
            </div>
        </div>
    </article>
</section>
