---
// import { Image } from "@astrojs/image/components";
---

<section
    id="missionStatement"
    class="max-w-section w-[100%] pt-60 pb-14 px-2 mx-auto flex justify-center rounded-2xl"
>
    <div class="container max-w-[840px]">
        <img
            src="../assets/bup-planter-small.webp"
            class="mx-auto mb-2 max-w-xs w-1/4 object-cover"
        />

        <h2
            class="drop-shadow-regular text-transparent bg-clip-text bg-gradient-to-br from-[#13bc6a] to-[#1a9dd0] font-medium text-section-h2 text-center"
        >
            Our Mission
        </h2>

        <p class="mission-text font-nunito pt-2 leading-loose text-center">
            "We believe people should be able to network in a post-pandemic
            society. We also believe people should be able to conserve while
            networking. That’s why we created the last business card you’ll ever
            need - BŪP. BŪP helps you save time, save money, and never miss out
            on a connection again! Show off your custom profile card that fits
            your personality and branding while making a lasting impression with
            a simple tap! Also, every purchase makes a difference as we donate a
            portion of every order to help plant trees around the world! You
            only get one first impression. So ditch the paper business cards,
            and join BŪP - The Future of Networking."
        </p>
    </div>
</section>
